<div class="container">
    <div style="background: url('https://github.com/rodrigodiaz10.png') no-repeat 50% / cover;">
      <div class="content">
        <h2>Ropa A</h2>
        <span>Precio</span>
      </div>
    </div>
    <div style="background: url('https://github.com/rodrigodiaz10.png') no-repeat 50% / cover;">
      <div class="content">
        <h2>Bucle</h2>
        <span>Precio</span>
      </div>
    </div>
    <div style="background: url('https://github.com/rodrigodiaz10.png') no-repeat 50% / cover;">
      <div class="content">
        <h2>Bucle</h2>
        <span>Precio</span>
      </div>
    </div>
    <div style="background: url('https://github.com/rodrigodiaz10.png') no-repeat 50% / cover;">
      <div class="content">
        <h2>Bucle</h2>
        <span>Precio</span>
      </div>
    </div>
  </div>